Sam Hatchett <samhatchett@gmail.com>
James Uber <jim@citilogics.com>
Demetrios Eliades <eldemet@gmail.com>
Hyoungmin Woo <hyoungmin.woo@gmail.com>
Hyoungmin Woo <hyoungmin.woo@gmail.com> <woohn@mail.uc.edu>
Yunier Soad <yunier.soad@gmail.com>
Jinduan Chen <jinduan.uc@gmail.com>
Maurizio Cingi <mrzcng2@gmail.com>
Elad Salomons <selad@optiwater.com> <elad.salomons@gmail.com>