#
# requirements.txt
#
# Date Created: 10/10/2017
# Author: Michael E. Tryby
#         US EPA ORD/NRMRL
#
# Useful for configuring a python environment to run epanet-nrtestsuite.
#
# command:
#  $ pip install --src build/packages -r tools/requirements.txt
#

nrtest>=0.2.3
#-e ./tools/epanet-output
#-e ./tools/nrtest-epanet
