#
# requirements-appveyor.txt 
#
# Date Created: 10/10/2017
# Author: Michael E. Tryby
#         US EPA ORD/NRMRL
#
# Useful for configuring a python environment to run epanet-nrtestsuite 
# on AppVeyor CI. 
#
# command: 
#  $ pip install --src build/packages -r tools/requirements-appveyor.txt
#

nrtest>=0.2.3

-f https://github.com/OpenWaterAnalytics/epanet-python/releases/download/v0.1.0-alpha/epanet_output-0.1.0a0-cp27-cp27m-win32.whl

-e ./tools/nrtest-epanet
